<form align="center" style="margin-top: 10%;">
  <h3>Welcome to our website!</h3>
  <mat-form-field style="width: 20%;" class="example-full-width">
    <mat-label>Email:</mat-label>
    <input matInput placeholder="Enter your email">
  </mat-form-field>
  <br><br>
  <mat-form-field style="width: 20%;" class="example-full-width">
    <mat-label>Password:</mat-label>
    <input type="password" matInput placeholder="Enter your password">
  </mat-form-field>
  <br><br>
  <button mat-button color="primary">Login</button><br>
  <p>If you are a new user <a class="nav-link " routerLink="../new">Click here!</a>
   
 
</form>
